In [1]:
import pandas as pd
df = pd.read_csv("mental_health_dataset.csv")
print(df)

     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

In [2]:
print(f"Number of Rows: {df.shape[0]} \nNumber of Columns: {df.shape[1]}")

Number of Rows: 1000
Number of Columns: 12

In [3]:
df.count()

User_ID                    1000
Age                        1000
Gender                     1000
Occupation                 1000
Country                    1000
Mental_Health_Condition    1000
Severity                    499
Consultation_History       1000
Stress_Level               1000
Sleep_Hours                1000
Work_Hours                 1000
Physical_Activity_Hours    1000
dtype: int64

In [4]:
df.isnull().sum()

User_ID                      0
Age                          0
Gender                       0
Occupation                   0
Country                      0
Mental_Health_Condition      0
Severity                   501
Consultation_History         0
Stress_Level                 0
Sleep_Hours                  0
Work_Hours                   0
Physical_Activity_Hours      0
dtype: int64

In [5]:
df.describe()

,User_ID,Age,Sleep_Hours,Work_Hours,Physical_Activity_Hours
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,500.500000,41.89200,7.095600,54.621000,5.134000
std,288.819436,13.97475,1.713861,14.709035,3.081808
min,1.000000,18.00000,4.000000,30.000000,0.000000
25%,250.750000,30.00000,5.600000,42.000000,3.000000
50%,500.500000,42.00000,7.100000,55.000000,5.000000
75%,750.250000,54.00000,8.500000,67.000000,8.000000
max,1000.000000,65.00000,10.000000,80.000000,10.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User_ID                  1000 non-null   int64
 1   Age                      1000 non-null   int64
 2   Gender                   1000 non-null   object
 3   Occupation               1000 non-null   object
 4   Country                  1000 non-null   object
 5   Mental_Health_Condition  1000 non-null   object
 6   Severity                 499 non-null    object
 7   Consultation_History     1000 non-null   object
 8   Stress_Level             1000 non-null   object
 9   Sleep_Hours              1000 non-null   float64
 10  Work_Hours               1000 non-null   int64
 11  Physical_Activity_Hours  1000 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 93.9+ KB

In [13]:
df.head()

,User_ID,Age,Gender,Occupation,Country,Mental_Health_Condition,Severity,Consultation_History,Stress_Level,Sleep_Hours,Work_Hours,Physical_Activity_Hours
0,1,36,Non-binary,Sales,Canada,No,Medium,Yes,Medium,7.1,46,5
1,2,34,Female,Education,UK,Yes,NaN,No,Low,7.5,47,8
2,3,65,Non-binary,Sales,USA,Yes,High,No,Low,8.4,58,10
3,4,34,Male,Other,Australia,No,Low,No,Medium,9.8,30,2
4,5,22,Female,Healthcare,Canada,Yes,Low,No,Medium,4.9,62,5

In [14]:
df.tail()

,User_ID,Age,Gender,Occupation,Country,Mental_Health_Condition,Severity,Consultation_History,Stress_Level,Sleep_Hours,Work_Hours,Physical_Activity_Hours
995,996,46,Non-binary,Other,Germany,No,NaN,Yes,Low,9.3,50,0
996,997,31,Male,Sales,Canada,No,NaN,No,High,4.5,37,6
997,998,33,Female,IT,Germany,No,High,Yes,Medium,9.7,73,10
998,999,42,Female,Finance,Australia,Yes,NaN,No,Medium,6.5,79,8
999,1000,43,Prefer not to say,Sales,Germany,No,Low,Yes,Low,6.0,61,7

In [19]:
df.duplicated().sum()

0

In [20]:
df['Gender'].value_counts()

Gender
Female               270
Non-binary           267
Male                 247
Prefer not to say    216
Name: count, dtype: int64

In [9]:
for i in df.columns:
    print(i)

User_ID
Age
Gender
Occupation
Country
Mental_Health_Condition
Severity
Consultation_History
Stress_Level
Sleep_Hours
Work_Hours
Physical_Activity_Hours

In [11]:
df['Sleep_Hours'].unique()

array([ 7.1,  7.5,  8.4,  9.8,  4.9,  6.3,  5.1,  4.2,  6.7,  8.9,  8.3,
        5.7,  4.1,  9.9,  6.9,  9.5,  8.8,  8. ,  8.5,  7. ,  6.4,  6.6,
        5.5,  4.5,  9.3,  9.2,  4.7,  7.8, 10. ,  4.6,  6.8,  8.6,  9.4,
        6. ,  6.1,  4.3,  4.8,  9.7,  7.4,  4.4,  9. ,  7.7,  8.2,  7.3,
        6.2,  5.4,  5.6,  8.1,  8.7,  5.3,  7.6,  9.6,  5. ,  5.2,  5.9,
        7.9,  5.8,  9.1,  6.5,  4. ,  7.2])

In [12]:
df.nunique()

User_ID                    1000
Age                          48
Gender                        4
Occupation                    7
Country                       7
Mental_Health_Condition       2
Severity                      3
Consultation_History          2
Stress_Level                  3
Sleep_Hours                  61
Work_Hours                   51
Physical_Activity_Hours      11
dtype: int64

In [17]:
df.shape

(1000, 12)

In [18]:
df.dtypes

User_ID                      int64
Age                          int64
Gender                      object
Occupation                  object
Country                     object
Mental_Health_Condition     object
Severity                    object
Consultation_History        object
Stress_Level                object
Sleep_Hours                float64
Work_Hours                   int64
Physical_Activity_Hours      int64
dtype: object

In [24]:
#data pre processing 
df.fillna(df.mean(numeric_only=True))

,User_ID,Age,Gender,Occupation,Country,Mental_Health_Condition,Severity,Consultation_History,Stress_Level,Sleep_Hours,Work_Hours,Physical_Activity_Hours
0,1,36,Non-binary,Sales,Canada,No,Medium,Yes,Medium,7.1,46,5
1,2,34,Female,Education,UK,Yes,NaN,No,Low,7.5,47,8
2,3,65,Non-binary,Sales,USA,Yes,High,No,Low,8.4,58,10
3,4,34,Male,Other,Australia,No,Low,No,Medium,9.8,30,2
4,5,22,Female,Healthcare,Canada,Yes,Low,No,Medium,4.9,62,5
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,46,Non-binary,Other,Germany,No,NaN,Yes,Low,9.3,50,0
996,997,31,Male,Sales,Canada,No,NaN,No,High,4.5,37,6
997,998,33,Female,IT,Germany,No,High,Yes,Medium,9.7,73,10
998,999,42,Female,Finance,Australia,Yes,NaN,No,Medium,6.5,79,8
999,1000,43,Prefer not to say,Sales,Germany,No,Low,Yes,Low,6.0,61,7

In [4]:
import pandas as pd
csv_path = 'mental_health_dataset.csv'
tested_data = pd.read_csv(csv_path)
tested_data.info(), tested_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User_ID                  1000 non-null   int64
 1   Age                      1000 non-null   int64
 2   Gender                   1000 non-null   object
 3   Occupation               1000 non-null   object
 4   Country                  1000 non-null   object
 5   Mental_Health_Condition  1000 non-null   object
 6   Severity                 499 non-null    object
 7   Consultation_History     1000 non-null   object
 8   Stress_Level             1000 non-null   object
 9   Sleep_Hours              1000 non-null   float64
 10  Work_Hours               1000 non-null   int64
 11  Physical_Activity_Hours  1000 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 93.9+ KB

(None,
    User_ID  Age      Gender  Occupation    Country Mental_Health_Condition  \
 0        1   36  Non-binary       Sales     Canada                      No
 1        2   34      Female   Education         UK                     Yes
 2        3   65  Non-binary       Sales        USA                     Yes
 3        4   34        Male       Other  Australia                      No
 4        5   22      Female  Healthcare     Canada                     Yes

   Severity Consultation_History Stress_Level  Sleep_Hours  Work_Hours  \
 0   Medium                  Yes       Medium          7.1          46
 1      NaN                   No          Low          7.5          47
 2     High                   No          Low          8.4          58
 3      Low                   No       Medium          9.8          30
 4      Low                   No       Medium          4.9          62

    Physical_Activity_Hours
 0                        5
 1                        8
 2                       10
 3                        2
 4                        5  )

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Create a copy of the dataset to avoid modifying the original
data = tested_data.copy()

# Handle missing columns or values
if 'Sleep_Hours' in data.columns:
    data['Sleep_Hours'].fillna(data['Sleep_Hours'].median(), inplace=True)
else:
    print("Warning: 'Sleep_Hours' column not found. Adding a default column.")
    data['Sleep_Hours'] = 0  # Add a default column if missing

if 'Work_Hours' in data.columns:
    data['Work_Hours'].fillna(data['Work_Hours'].median(), inplace=True)
else:
    print("Warning: 'Work_Hours' column not found. Adding a default column.")
    data['Work_Hours'] = 0  # Add a default column if missing

# Encode categorical variables
label_encoder = LabelEncoder()
if 'Gender' in data.columns:
    data['Gender'] = label_encoder.fit_transform(data['Gender'].astype(str))  # Ensure the column is string
else:
    print("Warning: 'Gender' column not found. Adding default values.")
    data['Gender'] = 0  # Add a default column if missing

if 'Physical_Activity_Hours' in data.columns:
    data['Physical_Activity_Hours'] = label_encoder.fit_transform(data['Physical_Activity_Hours'].astype(str))
else:
    print("Warning: 'Physical_Activity_Hours' column not found. Adding default values.")
    data['Physical_Activity_Hours'] = 0  # Add a default column if missing

# Drop unnecessary columns safely
drop_columns = ['User_ID', 'Country', 'Occupation', 'Severity']
existing_columns_to_drop = [col for col in drop_columns if col in data.columns]
data.drop(columns=existing_columns_to_drop, inplace=True)

# Scale numerical columns
scaler = StandardScaler()
scale_columns = ['Sleep_Hours', 'Work_Hours']
existing_scale_columns = [col for col in scale_columns if col in data.columns]
if existing_scale_columns:
    data[existing_scale_columns] = scaler.fit_transform(data[existing_scale_columns])
else:
    print("Warning: No columns found for scaling.")

# Separate features (X) and target (y)
if 'Stress_Level' in data.columns:
    X = data.drop(columns=['Stress_Level'])
    y = data['Stress_Level']
else:
    raise ValueError("Error: 'Stress_Level' column not found in the dataset.")

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

C:\Users\HP\AppData\Local\Temp\ipykernel_188740\3977903144.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Sleep_Hours'].fillna(data['Sleep_Hours'].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_188740\3977903144.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Work_Hours'].fillna(data['Work_Hours'].median(), inplace=True)

((800, 7), (200, 7), (800,), (200,))

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent') 
X_train_imputed = X_train.copy()
X_test_imputed = X_test.copy()
categorical_columns = ['Gender', 'Occupation', 'Country', 'Mental_Health_Condition', 'Severity', 'Consultation_History', 'Stress_Level']
for col in categorical_columns:
    if col in X_train_imputed.columns:
        X_train_imputed[col] = imputer.fit_transform(X_train_imputed[[col]])[:, 0]
        X_test_imputed[col] = imputer.transform(X_test_imputed[[col]])[:, 0]
label_encoder = LabelEncoder()
for col in categorical_columns:
    if col in X_train_imputed.columns:
        X_train_imputed[col] = label_encoder.fit_transform(X_train_imputed[col].astype(str))
        X_test_imputed[col] = label_encoder.transform(X_test_imputed[col].astype(str))
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)
svm_classifier = SVC(kernel='linear', random_state=42)
svm_classifier.fit(X_train_imputed, y_train_encoded)
y_pred_encoded = svm_classifier.predict(X_test_imputed)
y_pred = label_encoder.inverse_transform(y_pred_encoded)
accuracy = accuracy_score(y_test_encoded, y_pred_encoded)
report = classification_report(y_test_encoded, y_pred_encoded)
accuracy, report

(0.365,
 '              precision    recall  f1-score   support\n\n           0       0.36      0.42      0.39        71\n           1       0.31      0.34      0.32        59\n           2       0.44      0.33      0.38        70\n\n    accuracy                           0.36       200\n   macro avg       0.37      0.36      0.36       200\nweighted avg       0.37      0.36      0.37       200\n')